.todo-list .editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.todo-list .editing .view {
  display: none;
}

.todo-list li label {
  white-space: normal;
}